Repository oly-exams/exam_tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:pre-commit, build:django_server, build:testing_cypress

build:pre-commit:
  stage: build
  variables:
    IMG_TAG: $CI_COMMIT_REF_NAME
    IMG_NAME: pre-commit:$CI_COMMIT_REF_NAME
  script:
  - IMG="$PROJ_REG/$IMG_NAME:$IMG_TAG"
  - docker pull $IMG || true
  - docker build --pull --cache-from $IMG -f docker/images/Dockerfile.$IMG_NAME -t $IMG .
  - docker push $IMG

build:django_server:
  variables:
    SERVICE_NAME: django_server

build:testing_cypress:
  variables:
    SERVICE_NAME: testing_cypress

made remaining files pre-commit compat
  .pre-commit-config.yaml
  docs_events/ibo2019/assign_exams.md
  ipho_data/test_data_cypress/010_olyexams_superuser.csv
  ipho_data/test_data_cypress/011_organizer_user.csv
  ipho_data/test_data_cypress/020_delegations.csv
  requirements.txt
Due: build:pre-commit, build:django_server

found the offender, some stray imports that did not use django.settings, but exam_tools.settings
  .gitignore
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/testing_cypress.yml
  ipho_exam/tex.py
  scripts/generate_language_tex.py
Due: none

changed --abort-on-container-exit to the right place
  .gitlab/ci/templates.yml
Due: none

added env which was ignored due to .gitignore
  .gitignore
  .gitlab/ci/templates.yml
  docker/env/pre_commit_all.env
  docker/env/testing_cypress.env
  docker/env/testing_django.env
Due: none

renamed pre-commit and fixed env files
  .gitlab/ci/django_server.yml
  .gitlab/ci/gitlab-ci.yml
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/testing_cypress.yml
  docker-compose.yml
  docker/django_server/docker-compose.yml
  docker/pre_commit/Dockerfile
  docker/pre_commit/docker-compose.yml
Due: build:django_server

changed cypress image base->include
  .gitlab/ci/testing_cypress.yml
  docker/testing_cypress/Dockerfile
Due: build:testing_cypress

fixed typo and dependencies
  .gitlab/ci/django_server.yml
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/testing_cypress.yml
Due: none

fixing ci issue
  .gitlab/ci/templates.yml
Due: none

hardcoded try
  .gitlab/ci/templates.yml
  .gitlab/ci/testing_cypress.yml
Due: none

continue debugging
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/testing_cypress.yml
Due: none

added artefacts
  .gitlab/all.gitlab-ci.yml
  .gitlab/ci/django_server.yml
  .gitlab/ci/testing_cypress.yml
Due: none

pre_commit rename fix
  .gitlab/ci/pre_commit.yml
  docker/pre_commit/docker-compose.yml
Due: none

fixed yml syntax
  .gitlab/ci/templates.yml
Due: none

fixed creation issue
  ipho_data/django_setup.py
Due: none

continued ci debug & removed cypress old (manual image)
  .gitlab/ci/django_server.yml
  .gitlab/ci/testing_cypress.yml
  docker-compose.yml
  docker/testing_cypress_old/Dockerfile
  docker/testing_cypress_old/docker-compose.yml
Due: none

moved all bower files to seperate folder + added bower static to STATICFILES_DIRS
  .gitignore
  .gitlab/ci/django_server.yml
  README.md
  bower/.bowerrc
  bower/.gitignore
  bower/bower.json
  bower/bower_postinstall.sh
  bower/bower_postinstall/README.md
  bower/bower_postinstall/ck_editor.diff
  bower/bower_postinstall/ck_langen.diff
  bower/bower_postinstall/me_plugin.diff
  bower/bower_postinstall/mj_dev_mathjax.diff
  bower/bower_postinstall/mj_dialogs_mathjax.diff
  bower/bower_postinstall/mj_plugin.diff
  bower/bower_postinstall/mj_samples_mathjax.diff
  docker/django_server/Dockerfile
  docker/django_server/docker-compose.yml
  docker/testing_cypress/Dockerfile
  e2e/cypress/support/index.js
  e2e/cypress_helper.sh
  exam_tools/settings_common.py
  exam_tools/settings_testing.py
  package.json
Due: build:django_server, build:testing_cypress

small artefact location fix
  .gitlab/ci/testing_cypress.yml
Due: none

fixed ci (hopefully)
  .gitlab/ci/templates.yml
  .gitlab/ci/testing_cypress.yml
Due: none

copied static folder in container
  .gitlab/ci/django_server.yml
  .gitlab/ci/testing_cypress.yml
  docker/django_server/Dockerfile
  docker/env/testing_cypress.env
  docker/env/testing_django.env
  docker/testing_cypress/Dockerfile
  exam_tools/settings_testing.py
Due: build:django_server, build:testing_cypress

fixed cypress entrypoint
  .gitlab/ci/templates.yml
  docker-compose.yml
  docker/testing_cypress/Dockerfile
  docker/testing_cypress/docker-compose.yml
Due: build:testing_cypress

small cleanup and default for bower_static_path
  .gitlab/ci/django_server.yml
  bower/bower_postinstall.sh
  docker/testing_cypress/docker-compose.yml
  exam_tools/settings_common.py
Due: build:testing_cypress

trying fancy squash optimization
  .gitlab/ci/templates.yml
  .gitlab/ci/testing_cypress.yml
  docker/django_server/Dockerfile.squash
  docker/django_server/docker-compose.yml
  docker/pre_commit/Dockerfile.squash
  docker/pre_commit/docker-compose.yml
  docker/testing_cypress/Dockerfile.squash
  docker/testing_cypress/docker-compose.yml
Due: build:django_server, build:testing_cypress

folderchange for artefacts of cypress
  .gitlab/ci/testing_cypress.yml
Due: none

fixed passing STATIC_PATH
  docker/django_server/docker-compose.yml
  docker/env/testing_cypress.env
  docker/env/testing_django.env
  exam_tools/settings_testing.py
Due: build:django_server

fix? (changed cache_from)
  docker/django_server/docker-compose.yml
  docker/pre_commit/Dockerfile_squash
  docker/pre_commit/docker-compose.yml
  docker/testing_cypress/docker-compose.yml
Due: build:django_server, build:testing_cypress

removed --pull in squash build
  .gitlab/ci/templates.yml
Due: none

added docker dependency dev
  docker/pre_commit/Dockerfile
  requirements_dev.txt
Due: none

automated Dockerfile_squash file
  .gitlab/ci/create_Dockerfile_squash.sh
  .gitlab/ci/templates.yml
  docker/django_server/Dockerfile_squash
  docker/pre_commit/Dockerfile_squash
  docker/testing_cypress/Dockerfile_squash
Due: build:django_server, build:testing_cypress

moved to hardbaking the squash file since I need python
  .gitlab/ci/create_Dockerfile_squash.sh
  .gitlab/ci/templates.yml
  docker/create_squash_file.py
  docker/env/pre_commit_all.env
  docker/pre_commit/Dockerfile
Due: none

fixed DOCKERFILE_SQUASH
  .gitlab/ci/templates.yml
Due: none

fixed copy typo in Dockerfile
  .gitlab/ci/testing_cypress.yml
  docker/pre_commit/Dockerfile
Due: none

fixed CMD exec mode from ' -> " + added pre_commit squash
  .gitlab/ci/django_server.yml
  .gitlab/ci/templates.yml
  docker/README.txt
  docker/create_squash_file.py
  docker/pre_commit/Dockerfile_squash
  docker/testing_cypress/Dockerfile_squash
Due: build:testing_cypress

fixed fancy squash?
  .gitlab/ci/templates.yml
  docker/django_server/Dockerfile.squash
  docker/pre_commit/Dockerfile.squash
  exam_tools/settings_common.py
Due: build:django_server

added squash files
  .gitignore
  .gitlab/ci/templates.yml
  docker/django_server/Dockerfile_squash
  docker/env/pre_commit_all.env
  docker/testing_cypress/Dockerfile_squash
Due: build:django_server, build:testing_cypress

cleanup for squash CI
  .gitignore
  .gitlab/ci/create_Dockerfile_squash.sh
  .gitlab/ci/templates.yml
  docker/django_server/docker-compose.yml
  docker/pre_commit/docker-compose.yml
  docker/testing_cypress/docker-compose.yml
Due: build:django_server, build:testing_cypress

renamed Dockerfiles
  docker/django_server/Dockerfile_squash
  docker/pre_commit/Dockerfile_squash
  docker/testing_cypress/Dockerfile_squash
Due: build:django_server, build:testing_cypress

typo
  .gitlab/ci/create_Dockerfile_squash.sh
Due: none

fixed pipeline
  .gitlab/ci/templates.yml
  compose.sh
Due: none

removed squash and simplified CI template
  .gitlab/ci/templates.yml
  docker/create_squash_file.py
  docker/django_server/Dockerfile_squash
  docker/pre_commit/Dockerfile_squash
  docker/testing_cypress/Dockerfile_squash
  exam_tools/settings_testing.py
Due: build:django_server, build:testing_cypress

debugging CI
  .gitlab/ci/templates.yml
Due: none

Path conditions:
  build:pre-commit: (any of: docker/images/Dockerfile.pre-commit, .pre-commit-config.yaml) or (any of: docker/pre-commit/*, .pre-commit-config.yaml)
  build:django_server: any of: docker/django_server/*, requirements.txt, bower.json
  build:testing_cypress: any of: docker/testing_cypress/*
