Repository oly-exams/exam_tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:pre-commit, build:django_server, build:testing_cypress

build:pre-commit:
  stage: build
  variables:
    IMG_TAG: $CI_COMMIT_REF_NAME
    IMG_NAME: pre-commit:$CI_COMMIT_REF_NAME
  script:
  - IMG="$PROJ_REG/$IMG_NAME:$IMG_TAG"
  - docker pull $IMG || true
  - docker build --pull --cache-from $IMG -f docker/images/Dockerfile.$IMG_NAME -t $IMG .
  - docker push $IMG

build:django_server:
  variables:
    SERVICE_NAME: django_server

build:testing_cypress:
  variables:
    SERVICE_NAME: testing_cypress
    DEPENDENT_SERVICE: django_server

forgot to chmod
  compose.sh
Due: none

removed prospector dep and removed hardcoded tty/stdin in docker-compose
  .gitlab/ci/pre_commit.yml
  docker/django_server/docker-compose.yml
  docker/env/pre_commit.env
  docker/env/pre_commit_all.env
  docker/env/testing_cypress.env
  docker/env/testing_django.env
  docker/pre_commit/docker-compose.yml
  docker/testing_cypress/docker-compose.yml
  requirements_dev.txt
Due: build:django_server, build:testing_cypress

ci fix
  .gitlab/ci/templates.yml
  docker/env/django_dev.env
Due: none

added compose.sh script
  compose.sh
  docker-compose.yml
Due: none

fixed cypress best practices violations
  e2e/cypress/support/index.js
Due: none

add deepl to auto translate
  exam_tools/settings_common.py
  ipho_exam/auto_translate.py
  ipho_exam/models.py
  ipho_exam/views.py
  requirements.txt
Due: build:django_server

move STYLES_TO_AUTO_TRANSLATE_MAPPING to settings, remove print statements
  exam_tools/settings_common.py
  ipho_exam/auto_translate.py
  ipho_exam/models.py
Due: none

fixed pylint issues
  exam_tools/settings_common.py
  ipho_data/cypress_initial_data.py
  ipho_data/main.py
  ipho_exam/models.py
Due: none

created test_data folder
  ipho_data/django_setup.py
  ipho_data/main.py
  ipho_data/test_data/001_groups.json
  ipho_data/test_data/010_olyexams_superuser.csv
  ipho_data/test_data/011_organizer_user.csv
  ipho_data/test_data/020_delegations.csv
  ipho_data/test_data/030_official_delegation.json
Due: none

renamed OFFICIAL_LANGUAGE->OFFICIAL_LANGUAGE_PK added creator official_delegation
  ipho_core/migrations/0002_auto_20201102_1041.py
  ipho_core/models.py
  ipho_data/creator/official_delegation.py
  ipho_data/creator/question_data.py
  ipho_data/data_creator.py
  ipho_data/main.py
  ipho_exam/compile_utils.py
  ipho_exam/question_utils.py
  ipho_exam/views.py
  ipho_marking/views.py
  scripts/country_pdf_points.py
  scripts/generate_language_pdf.py
  scripts/generate_language_tex.py
Due: none

renamed ipho_core.is_staff to is_organizer, since it is confusing with user.is_staff
  ipho_core/migrations/0003_auto_20201102_1121.py
  ipho_core/models.py
  ipho_core/views.py
  ipho_data/creator/exam_and_question.py
  ipho_data/data_creator.py
  ipho_data/main.py
  ipho_data/test_data/001_groups.json
  ipho_data/test_data/030_official_delegation.json
  ipho_data/test_data_creator.py
  ipho_exam/models.py
  ipho_exam/pdf.py
  ipho_exam/views.py
  ipho_marking/views.py
  ipho_poll/views.py
  templates/base.html
  templates/ipho_exam/exam_view.html
  templates/ipho_exam/feedbacks.html
  templates/ipho_exam/partials/feedbacks_partial_tbody.html
  templates/ipho_exam/partials/feedbacks_tbody.html
Due: none

added ipho2016 T exam and renamed PollQuestion more clearly
  ipho_data/creator/exam_and_question.py
  ipho_data/creator/official_delegation.py
  ipho_data/creator/poll_data.py
  ipho_data/cypress_initial_data.py
  ipho_data/data_creator.py
  ipho_data/ipho2016_qml_data.py
  ipho_data/main.py
  ipho_data/test_data_creator.py
  ipho_exam/models.py
Due: none

Fixed OFFICIAL_LANGUAGE_PK line
  ipho_marking/views.py
Due: none

fixed pipeline issue
  ipho_data/main.py
  ipho_data/test_data_creator.py
  ipho_data/test_data_cypress/001_groups.json
Due: none

added some newlines in ipho2016 data
  ipho_data/ipho2016_qml_data.py
Due: none

fixed diverging migrations by delete and recreate
  ipho_core/migrations/0002_auto_20201102_1041.py
  ipho_core/migrations/0002_auto_20201105_0124.py
  ipho_core/migrations/0003_auto_20201102_1121.py
Due: none

added worker, postgres and rabbitmq
  .gitignore
  docker/README.txt
  docker/celery_worker/Dockerfile
  docker/celery_worker/docker-compose.yml
  docker/compose.sh
  docker/dev_compose.sh
  docker/django_server/Dockerfile
  docker/django_server/docker-compose.yml
  docker/docker-compose.dev.yml
  docker/env/dev.env
  docker/old.docker-compose.yaml
  docker/postgres/docker-compose.yml
  docker/pre_commit/docker-compose.yml
  docker/rabbitmq/docker-compose.yml
  docker/run_if_ready.sh
  docker/testing_cypress/docker-compose.yml
  docker/wait-for-it.sh
  exam_tools/settings_compose.py
  ipho_data/test_data_creator.py
  requirements.txt
Due: build:django_server, build:testing_cypress

fixing CI: changed compose.sh path
  .gitlab/ci/templates.yml
Due: none

fixed pre_commit image and django cmd
  docker/django_server/docker-compose.yml
  docker/pre_commit/Dockerfile
Due: build:django_server

reajusted env paths in CI
  .gitlab/ci/django_server.yml
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/testing_cypress.yml
Due: none

switched to overwrite compose instead of env
  .gitlab/ci/django_server.yml
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/testing_cypress.yml
  docker/django_server/docker-compose.test.yml
  docker/env/django_dev.env
  docker/env/pre_commit.env
  docker/env/pre_commit_all.env
  docker/env/testing_cypress.env
  docker/env/testing_django.env
  docker/pre_commit/docker-compose.all.yml
  docker/pre_commit/docker-compose.yml
  docker/testing_cypress/docker-compose.test.yml
Due: build:django_server, build:testing_cypress

small fix in CI template
  .gitlab/ci/templates.yml
  docker/run_if_ready.sh
Due: none

debugging CI
  .gitlab/ci/templates.yml
Due: none

fixed paths for CI
  .gitlab/ci/django_server.yml
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/testing_cypress.yml
Due: none

moved cypress test-db into db_data and restructured overwrite
  .gitlab/ci/django_server.yml
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/testing_cypress.yml
  .gitlab/old.gitlab-ci.yml
  docker/celery_worker/Dockerfile
  docker/dev_compose.sh
  docker/django_server/docker-compose.yml
  docker/overwrite/dev.yml
  docker/overwrite/django_server_test.yml
  docker/overwrite/pre_commit_all.yml
  docker/overwrite/pre_commit_diff.yml
  docker/overwrite/testing_cypress_test.yml
  docker/pre_commit/Dockerfile
  e2e/cypress/support/index.js
  exam_tools/settings_testing.py
  ipho_data/cypress_initial_data.py
  ipho_data/test_data_creator.py
Due: build:django_server

debugging CI
  .gitlab/ci/pre_commit.yml
  docker/testing_cypress/docker-compose.yml
Due: build:testing_cypress

debugging CI
  .gitlab/ci/testing_cypress.yml
  ipho_data/cypress_initial_data.py
Due: none

minor fixes after diff analysis
  e2e/server_with_testdata.sh
  exam_tools/settings_testing.py
  ipho_data/cypress_initial_data.py
Due: none

added postgres compat data generation file
  docker/django_server/docker-compose.yml
  ipho_data/create_for_postgres.py
Due: build:django_server

refactored gitlab CI files
  .gitlab/ci/build.yml
  .gitlab/ci/django_server.yml
  .gitlab/ci/gitlab-ci.yml
  .gitlab/ci/merge.yml
  .gitlab/ci/pre_commit.yml
  .gitlab/ci/test.yml
  docker/dev_compose.sh
  docker/overwrite/dev.yml
  docker/run_if_ready.sh
Due: none

fixing CI
  .gitlab/ci/templates.yml
Due: none

removed variant & fixed lower-caps branch-name issue
  .gitlab/ci/templates.yml
  docker/celery_worker/docker-compose.yml
  docker/django_server/docker-compose.yml
  docker/pre_commit/docker-compose.yml
  docker/testing_cypress/docker-compose.yml
Due: build:django_server, build:testing_cypress

only pull images from gitlab registry if we built it
  .gitlab/ci/templates.yml
Due: none

small fix in celery_worker
  docker/celery_worker/docker-compose.yml
Due: none

added dev_test
  .gitlab/ci/test.yml
  docker/overwrite/dev_test.yml
Due: none

multiple overwrites
  .gitlab/ci/templates.yml
  .gitlab/ci/test.yml
Due: none

missing a $
  .gitlab/ci/templates.yml
Due: none

Path conditions:
  build:pre-commit: (any of: docker/images/Dockerfile.pre-commit, .pre-commit-config.yaml) or (any of: docker/pre-commit/*, .pre-commit-config.yaml)
  build:django_server: any of: docker/django_server/*, requirements.txt, bower.json
  build:testing_cypress: any of: docker/testing_cypress/*
