Repository oly-exams/exam_tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:pre-commit, build:pre_commit, build:django_server, build:celery_worker, build:testing_cypress

Path conditions:
  build:pre-commit: (any of: docker/images/Dockerfile.pre-commit, .pre-commit-config.yaml) or (any of: docker/pre-commit/*, .pre-commit-config.yaml)
  build:pre_commit: any of: docker/pre_commit/*, .pre-commit-config.yaml, requirements.txt, requirements_dev.txt
  build:django_server: any of: docker/django_server/*, requirements.txt, bower/*
  build:celery_worker: any of: docker/celery_worker/*, requirements.txt
  build:testing_cypress: any of: docker/testing_cypress/*

Feature flush before reset database
  ipho_data/main.py
  ipho_exam/qml.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: build:pre_commit, build:django_server, build:celery_worker

feature: handle more colors (HTML and hex) in colored Paragraph with webcolors package
  ipho_exam/qml.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: build:pre_commit, build:django_server, build:celery_worker

Add missing variable
  .gitlab/ci/test.yml
Due: none

Drop support for Python 3.8-3.9, update poetry
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
  scripts/get_all_translations_org.py
  scripts/mkdocs_custom.py
Due: build:pre-commit, build:pre_commit, build:django_server, build:celery_worker

Fix import spacing in qml.py
  ipho_exam/qml.py
Due: none

Feature: Private folders for delegations in the downloads section. Somehow lost after changes2024
  ipho_download/views.py
Due: none

Update metadata format
  poetry.lock
  pyproject.toml
  requirements.txt
Due: build:pre_commit, build:django_server, build:celery_worker

Add --strict flag to poetry check
  .pre-commit-config.yaml
Due: build:pre-commit, build:pre_commit

Use multistage pre-commit in CI
  .gitlab/ci/docker-build.yml
  .gitlab/ci/test.yml
Due: none

Remove commented-out YAML
  .gitlab/ci/test.yml
Due: none

Remove pipeline trigger on commit push
  .gitlab/ci/gitlab-ci.yml
Due: none

Add pre-commit stage to Docker multistage build
  docker/Dockerfile
  docker/Dockerfile.dockerignore
Due: none

Fix needs clause
  .gitlab/ci/test.yml
Due: none

Remove merge.yml
  .gitlab/ci/gitlab-ci.yml
  .gitlab/ci/merge.yml
Due: none

Rebase
  requirements.txt
Due: build:pre_commit, build:django_server, build:celery_worker

cleanly handle empty string, poetry dependency
  pyproject.toml
Due: none

properly including webcolors with poetry (and exported to requirements.txt)
  pyproject.toml
  requirements.txt
Due: build:pre_commit, build:django_server, build:celery_worker

refactor exam managament to make more readable for many questions/exams
  templates/ipho_exam/admin.html
  templates/ipho_exam/admin_editor.html
Due: none

handle case when there is no exam in exam management
  templates/ipho_exam/admin.html
Due: none

Remove unused build:pre-commit step
  .gitlab/ci/build.yml
Due: none

Fix migrations
  ipho_exam/migrations/0036_alter_question_options.py
  ipho_exam/migrations/0044_merge_20250406_1454.py
Due: none

remove fail fast on pre-commit hook
  .pre-commit-config.yaml
Due: build:pre-commit, build:pre_commit

Merge stages back together
  .gitlab/ci/build.yml
  .gitlab/ci/docker-build.yml
  .gitlab/ci/gitlab-ci.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/test.yml
Due: none

Fix missing stage
  .gitlab/ci/build.yml
  .gitlab/ci/gitlab-ci.yml
Due: none

Remove stages
  .gitlab/ci/build.yml
  .gitlab/ci/docker-build.yml
  .gitlab/ci/gitlab-ci.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/test.yml
Due: none

Fix bake command
  .gitlab/ci/docker-build.yml
  docker/bake.yml
Due: none

Re-add simplified stages
  .gitlab/ci/build.yml
  .gitlab/ci/docker-build.yml
  .gitlab/ci/gitlab-ci.yml
  .gitlab/ci/templates.yml
  .gitlab/ci/test.yml
Due: none

Use docker-deploy repo with Python 3.10
  .gitlab/ci/gitlab-ci.yml
Due: none

Revert to master branch of docker-deploy
  .gitlab/ci/gitlab-ci.yml
Due: none

Revert to master branch (updated) of docker_deploy
  .gitlab/ci/gitlab-ci.yml
Due: none

Use buildx imagetools to add new tags in push stage
  .gitlab/ci/docker-build.yml
  README.md
  docker/bake.hcl
Due: none

Move django-server-test to multistage build
  .gitlab/ci/test.yml
  docker/Dockerfile
  docker/bake.hcl
Due: none
